@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --heading: 'Roboto Slab', serif;
   



}

.listclass {
    
    font-family: var(--heading);
    font-size: 2rem;
    background-color: #E5E7EB;
    border-radius: 5%;
    width: 15%;
    padding: 1em;
    margin: 1rem;
    height: "100%",


}

h2 {

    font-family: var(--heading);
    font-size: 1rem;
    text-align: left;
    padding-left: .1rem;
}
h1{
        font-family: var(--heading);
        font-size: 4rem;


}
.cardlist{
    margin: .6rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}