@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --heading: "Rubik", sans-serif;
    --title: 'Comfortaa', cursive;



}

.listclass {
    
    font-family: var(--heading);
    font-size: 2rem;
    background-color: #E5E7EB;
    border-radius: .5rem;
    width: 15%;
    padding: 1em;
    margin: 1rem;


}

h2 {

    font-family: var(--title);
    font-size: 1rem;
    text-align: left;
    padding-left: .1rem;
}
h1{
        font-family: var(--title);
        font-size: 4rem;


}
.cardlist{
    margin: .6rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}